# === Interface Visual e Gráficos ===
streamlit
matplotlib

# === Processamento de Dados Estruturados ===
pandas

# === Segurança e Configuração ===
python-dotenv

# === Ecossistema LangChain ===
langchain
langchain-core
langchain-community
langchain-experimental
langchain-text-splitters

# === Conexão com os Modelos de IA ===
langchain-google-genai

# === Arquitetura RAG ===
pypdf
faiss-cpu
